{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/general.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="/css/about-us.css" />
  <link rel="stylesheet" href="/css/card.css" />
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
  {# <div class="full-page-background" style="height: 100vh">
  </div> #}

<div class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm with-background">
            <div class="choose-card-body px-3 py-2">
                <h3 class="w-100 text-center pt-1">Natuurlijke tuinen</h3>
                <div>
                    <p>
                        zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
                    </p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm with-background">
            <div class="choose-card-body px-3 py-2">
                <h3 class="w-100 text-center pt-1">Moderne tuinen</h3>
                <div>
                    <p>
                        zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
                    </p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card mb-4 shadow-sm with-background">
            <div class="choose-card-body px-3 py-2">
                <h3 class="w-100 text-center pt-1">Dakterrassen</h3>
                <div>
                    <p>
                        zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
                    </p>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}