.card {
    border-radius: none;
    border: none;
    height: 78vh;
    overflow: hidden;
}

.choose-card-body {
    position: absolute;
    top: 65%;
    background: rgba(0,0,0,.65);
    width: 100%;
    transition: .65s;
    height: 100%;
}

.card:hover {
    cursor: pointer;
}

.with-background {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}