footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    color: #A8A39E;
    border-top: 1px solid #A8A39E;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .8rem;
    background: #242625;
    z-index: 100;
}

i {
    margin-left: 10px;
    font-size: 1rem;
}

footer span {
    margin-left: 10px;
}

.fb-color {
    color: #3b5998;
}

.insta-color {
    color: #e95950;
}

.lin-color {
    color: #0077B5;
}

@media (max-width: 575px) { }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
    footer {
        position: fixed;
        bottom: 0;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) { }