* {
    box-sizing: border-box
}

body {
    font-family: 'Tajawal', sans-serif;
    background: #242625;
    color:white;
}

a, a:hover, a:focus, a:active {
    color: white
}

.green-link {
    color: #8CC63F;
}

.green-link:hover {
    color: #8CC63F;
}

p:blank {
    display: none;
}

.website-url:hover {
    color: #8CC63F;
    text-decoration: underline;
}

.content {
    margin-bottom: 30px;
}

.grey-background {
    background: #242625;
}

.page-footer {
    margin-top: 0 !important;
    color:white;
}

.lighter-background {
    background: #313332;
}

.full-widht { 
    width:100%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.transparent {
    background: transparent;
}

.padding-bottom-75 {
    padding-bottom: 75px;
}

.white {
    color: white !important;
}

.black {
    color:black;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.groenregie-button {
    border-color: #8CC63F;
    border-radius: 0;
}

.groenregie-button:hover {
    border-color: #8CC63F;
    background: #8CC63F;
    color: white !important;
}

.groenregie-green {
    color: #8CC63F !important;
}

.groenregie-green-background {
    background-color: #8CC63F;
}

.seperator {
    margin-top: 70px;
}

.icons {
    font-size: 30px;
    margin-left: 15px;
}

.social-row {
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav-seperator {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #313332;
    margin: 0;
    padding: 0; 
}

.hr-green {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #8CC63F;
    padding: 0; 
}

.reduced-jumbotron {
    margin-bottom: 0;
    padding: 2rem 1rem;
}

.page-image{
    margin-top: 32px;
}

.paragraph {
    margin-top: 25px;
}

.summing {
    text-align: center;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.send-button {
    background: #383b3a;
    border-radius: 0;
    color: rgb(179, 179, 179);
    border: none;
}

.send-button:hover {
    background: #8CC63F;
}

.quote {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

.form-check-input {
    margin-left: 0;
}

.form-check-label {
    padding-left: 1.25rem;
}

.top-foto {
    margin-bottom: 40px;
}

.back-button {
    margin-top: 40px;
}

.minh-vh {
    min-height: 100vh;
}

.justify-content-center {
    justify-content: center;
}

.full-page-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 100vh
}

.full-page-background:before {
    position: fixed;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .85; 
    z-index: 1;
}

.green-outline {
    border-top: 1px solid #8CC63F;
    border-bottom: 1px solid #8CC63F;
    padding-top: 1rem !important;
}

.floating-text-left {
    z-index: 99;
    margin-top: 8rem!important;
}

.floating-image-right {
    z-index: 99;
    margin-top: 12rem!important;
    text-align: right;
}

.floating-image-right-media {
    margin-top: 8rem!important;
}

.floating-quote {
    margin-top: 17rem!important;
    z-index: 99;
    margin-bottom: 5rem;
}

.pb-full-page {
    margin-bottom: 7rem!important;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 991px) { 
    .floating-image-right {
        text-align: center;
    }

    .floating-quote {
        margin-top: 1rem!important;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .mobile-100 {
        width:100%;
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    .floating-text-left {
    margin-top: 1rem!important;
    }

    .floating-image-right {
        margin-top: 1rem!important;
    }

    .floating-quote {
        margin-top: 1rem!important;
    }

    .pb-full-page {
        margin-bottom: 1rem!important;
    }

    .minh-vh {
        padding-bottom: 7rem;
    }
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) { ... } */