.carousel {
    height: 100vh;
    overflow: hidden;
}

.videocontainer {
    /* position: relative; */
    height:100%;
    width:100%;
    overflow: hidden;
}

#entry-video {
    min-width: 100%;
    min-height: 100vh;
}

.carousel-item img {
    height: 100vh;
    width: auto;
    min-width: auto;
}

.homepage-welcome-text {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 150%;
    top: 20%;
    width: 350px;
    position: absolute;
    text-align: center;
    background: rgba(36, 38, 37, 0.39) !important;
    padding: 2rem 1rem;
    padding-bottom: 0;
    -webkit-animation-name: welcome-text-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: welcome-text-animation;
    animation-duration: 4s;
    z-index: 50;
}

.welcome-text { 
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.homepage-welcome-text hr {
    margin-bottom: 0;
}

@keyframes welcome-text-animation {
    from {left: -1800px;}
    to {left: 0;}
}

.type-garden {
    height: 470px;
}

.type-garden-photo {
    width:100%;
    background-size: cover;
    /* -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.natural-garden {
    background-image: url(../images/natural-garden.jpg);
}

.modern-garden {
    background-image: url(../images/modern-garden.jpg);
}

.type-garden-header {
    padding-left: 10%;
    padding-top: 50px;
    padding-right: 10%;
}

.customer-reaction {
    margin-top: 32px;
    padding-top: 32px;
}

.customer-reaction-sum {
    margin-top: 40px;
    padding-bottom: 20px;
}

.customer-reaction-item {
    margin-top: 30px;
}

.customer-reaction-header{
    margin-top: 10px;
}

.customer-reaction-content { 
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
    position:relative;
}

.customer-reaction-colon {
    /* position: absolute; */
    margin-top: 10px;
    margin-bottom: 20px;
    bottom:-40px;
    justify-content: center;
}

@media (max-width: 850px) {
    .homepage-welcome-text {
        top: 30%;
        width: 90%;
        left: 5%;
        right: 5%;
        -webkit-animation-name: none; /* Safari 4.0 - 8.0 */
        animation-name: none;
    }
 }

 /* SLICK SLIDESHOW */
 	.slideshow {
		position: relative;
		z-index: 1;
		height: 100vh;
	}

	.slideshow * {
		outline: none;
	}

	.slideshow .slider {
		box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
	}

	.slideshow .slider-track {
		transition: all 4s cubic-bezier(0.7, 0, 0.3, 1);
	}

	.slideshow .item {
		height: 100%;
		position: relative;
		z-index: 1;
	}

	.slideshow .item img {
		height: 100vh;
		transition: all 4s cubic-bezier(0.7, 0, 0.3, 1);
		transform: scale(1.5);
	}

	.slideshow .item.slick-active img {
		transform: scale(1);
    }
    
    /* NEW */

    /**
 * See: http://www.css-101.org/articles/ken-burns_effect/css-transition.php
 */

/**
 * Styling the container (the wrapper)
 * 
 * position is used to make this box a containing block (it becomes a reference for its absolutely positioned children). overflow will hide part of the images moving outside of the box.
 */

#slideshow {
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    /* border:8px solid #ccc; */
}

/**
 * Styling the images
 *
 * position:absolute is to put all images in a stack. Dimensions are set to increase the size of these images so their edges do not appear in the parent box when we move them inside the said box.
 * Because the images are now larger than their parent container, we use top, left and margin values to align them in the center of the box.
 * Finally, we set the transition (property and duration). Note that duration values are different for opacity and transform as we want the "fade-in" effect to be faster than the "panning" effect.
 */

#slideshow img {
    position:absolute;
    width:100%;
    height:100vh;
    opacity:0;
    -webkit-transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: 2.25s, 20s;
       -moz-transition-property: opacity, -moz-transform;
       -moz-transition-duration: 2.25s, 20s;
        -ms-transition-property: opacity, -ms-transform;
        -ms-transition-duration: 2.25s, 20s;
         -o-transition-property: opacity, -o-transform;
         -o-transition-duration: 2.25s, 20s;
            transition-property: opacity, transform;
            transition-duration: 2.25s, 20s;
}

/**
 * We change the point of origin using four corners so images do not move in the same direction. 
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

#slideshow img  {
    -webkit-transform-origin: left;
       -moz-transform-origin: left;
        -ms-transform-origin: left;
         -o-transform-origin: left;
            transform-origin: left;
}

#slideshow :nth-child(2n+1) {
    -webkit-transform-origin: right;
       -moz-transform-origin: right;
        -ms-transform-origin: right;
         -o-transform-origin: right;
            transform-origin: right;
}

#slideshow :nth-child(3n+1) {
    -webkit-transform-origin: left;
       -moz-transform-origin: left;
        -ms-transform-origin: left;
         -o-transform-origin: left;
            transform-origin: left;
}
#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: right;
     -moz-transform-origin: right;
      -ms-transform-origin: right;
       -o-transform-origin: right;
          transform-origin: right;
}

/**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one. 
 * The rule below moves all images past the second one down the stack. 
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

#slideshow .fx:first-child + img ~ img  {
    z-index:-1;
}

/**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

#slideshow .fx {
    opacity:1;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
}

#slideshow .fx1 {
    opacity:1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}