a:hover {
    text-decoration: none;
}

.our-partner-media {
  margin-top: 32px;
}

.our-partner-media img {
  max-width: 100%;
}

.our-partner-block {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.green-border {
  border: 1px solid #8cc63f;
}

@media (max-width: 850px) {
  .more-info {
    float: none !important;
    width: 100%;
  }
}
